#injected-react-base{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100000;

    pointer-events: none;
}

#injected-react-base *{
    pointer-events: auto;
}

#injected-react-base,
#injected-react-base::before,
#injected-react-base::after,
#injected-react-base *
#injected-react-base *::before,
#injected-react-base *::after {
    all: revert;
}
