:root{
    --padding: 10px;
    --height: 200px;

    --headlineFont: "Roboto", sans-serif;
    --extraFont: "Roboto", sans-serif;
    --bodyFont: "Roboto", sans-serif;
}

#injected-div  .contentCardContainer{
    width: calc(100% - var(--padding) * 2);
    height: var(--height);
    padding-top: calc(var(--padding)/2);
    padding-bottom: calc(var(--padding)/2);
    padding-left: var(--padding);
    padding-right: var(--padding);


    color: #212529;
}

#injected-div .contentCardContainer > .contentCard{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 10px;
    overflow: hidden;

    transition: all 0.1s ease-in-out;
}

#injected-div .contentCardContainer > .contentCard:hover{
    transform: scale(1.02);
}

#injected-div .contentCardContainer > .contentCard > .header{
    width: 100%;
    height: 30px;
    background: rgba(255, 255, 255, 0.6);

}

#injected-div .contentCardContainer > .contentCard > .header > .headerIconContainer{
    width: 40px;
    height: 30px;

    overflow: hidden;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
}

#injected-div .contentCardContainer > .contentCard > .header > .headerIconContainer > .headerIcon{
    height: 90%;
}

#injected-div .contentCardContainer > .contentCard > .header > .headerHeadline{
    float: left;
    height: 30px;

    font-family: var(--headlineFont);
    font-weight: 500;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#injected-div .contentCardContainer > .contentCard > .header > .headerExtra{
    float: right;
    margin-right: 5px;
    height: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: var(--extraFont);
    font-weight: 300;
}